div.fullpf {
    div.left {
      h1 {
        span {
  
        }
      }
  
      h2 {
  
      }
  
      br {
  
      }
  
      img {
        height: 180px;
        top: 35px;
  
      }
  
      div.info1 {
        p {
  
        }
      }
  
      undefined {
  
      }
    }
  
    undefined {
  
    }
  
    div.right {
      top: 40px;
      h2 {
  
      }
  
      h3 {
  
      }
  
      br {
  
      }
  
      img {
        height: 180px;
        left: 10px;
  
      }
  
      div.info2 {
        p {
  
        }
      }
  
      undefined {
  
      }
  
      button {
        top: 100%;
        width: 100px;
  
      }
    }
  
    div.last {
        top:120px;
      h2 {
  
      }
  
      ol {
        li {
  
        }
      }
    }
  }
  
  undefined {
  
  }